@font-face{
  font-family:myfont1;
  src:url(OpenSans-Light.ttf);
}

@font-face{
  font-family:mygoticbold;
  src:url(GOTHICB.TTF);
}

@font-face{
  font-family:mygoticReg;
  src:url(GOTHIC.TTF);
}

@font-face{
  font-family:lobesstar;
  src:url(Lobster.ttf);
}

@font-face{
  font-family:latoLight;
  src:url(Lato-Light.ttf);
}

body{
  padding:0;
  margin:0;
  background-image:url(../Desktop/Photo0105.jpg);
}

*{
  padding:0;
  margin:0;
}

.clear{
  clear:both;
}

header{
  position: relative;
  float: left;
  background-color:#262626;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.menu{
  float:right;
  width:auto;
  margin-right: 15px;
}

.menu ul{
  padding:0;
  margin:0;
}

.menu ul li{
  margin-right: -2px;
  list-style:none;
  display:inline-block;
  /*border-right: 1px solid #FFF;*/
}
.menu ul li:last-child {
  border-right: none;
}

.menu ul li a{
  padding: 0 6px;
  color:#fff;
  font-family:mygoticReg;
  font-size:16px;
  text-decoration:none;
}

.menu ul li span{
  padding: 0 0px;
  color:#fff;
  font-family:mygoticReg;
  font-size:15px;
  text-decoration:none;
}

.menu ul li a:hover{
  color:#999999;
  font-family:mygoticReg;
  font-size:16px;
  text-decoration:none;
}
@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    display: none;
    padding: 5px 10px;
    bottom: -200px;
    right: 0;
    background-color: #262626;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    box-shadow: 2px 2px 4px rgba(0,0,0,.8);
  }
  .menu ul li {
    display: block;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }
  .menu ul li:last-child {
    border-bottom: none;
  }
  .menu ul li a {
    display: inline-block;
    padding: 5px 10px;
  }
  .menu-btn {
    float: right;
    margin-right: 15px;
    padding: 4px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    line-height: 1;
  }
  .menu-btn span {
    font-size: 24px;
  }

  .menu ul li a {
        padding: 0 6px;
        color:#fff;
        font-family:mygoticReg;
        font-size:22px;
        text-decoration:none;
    }

    .menu ul li a:hover {
        color: #999999;
        font-family: mygoticReg;
        font-size: 22px;
        text-decoration: none;
    }
}

.wel_title{
  font-family:mygoticbold;
  font-size:42px;
  color:#1d1d1d;
  text-align:center;
  background: url(../images/bg_img.png) no-repeat bottom;
  padding-bottom:15px;
  margin-top:40px;
  margin-bottom:20px;
}

.logo{
  position: absolute;
  left: 50%;
  margin-top: -10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}
@media screen and (max-width: 460px) {
  .logo {
    left: 15px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.arrow{
  margin:0 auto;
  width:108px;
  margin-top:-10px;
  z-index:1000;
  text-align:center;
  position:absolute;
  margin-left:47%;
  margin-top:414px;
}

#footer{
  width:100%;
  padding:10px;
  background-color:#262626;
}
@media screen and (max-width: 767px) {
  .logo-wrapper img {
    display: inline-block;
  }
  .logo-wrapper {
    text-align: right;
  }
}

#footer .footer_addr{
  color:#FFFFFF;
  font-family:mygoticReg;
  font-size:14px;
  line-height:18px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer .footer_addr {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  #footer .footer_addr {
    font-size: 12px;
  }
}

#footer .ftr_menu{
  float:right;
  padding-top:10px;
}

#footer .ftr_menu ul{}

#footer .ftr_menu ul li{
  list-style:none;
  display:inline;
  font-family:mygoticReg;
  font-size:14px;
  color:#c0c0c0;
  padding-left:5px;
  padding-right:5px;
}

#footer .ftr_menu ul li a{
  font-family:mygoticReg;
  font-size:14px;
  color:#c0c0c0;
  text-decoration:none;
}

#footer .ftr_menu ul li a:hover{
  font-family:mygoticReg;
  font-size:14px;
  color:#fff;
  text-decoration:none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer .ftr_menu ul li {
    padding-left: 2px;
    padding-right: 2px;
  }
  #footer .ftr_menu ul li a {
    font-size: 11px;
  }
  #footer .ftr_menu ul li a:hover {
    font-size: 11px;
  }
}
.ftr_socialbox{
  float:right;
  margin:0 auto;
  padding-top:20px;
}
@media screen and (max-width: 767px) {
  #footer .ftr_menu {
    float: none;
    display: inline-block;
  }
  .ftr_socialbox {
    float: none;
    display: inline-block;
  }
}
.ftr_twitter{
  width:54px;
  float:left;
}

.ftr_facebook{
  width:54px;
  float:left;
}

.ftr_mail{
  width:54px;
  float:left;
}

.extra_rcontent{
  font-family:mygoticbold;
  font-size:24px;
  color:#A39E9E;
  text-align:center;
  padding-top:170px;
  font-style:italic;
}

.extra_text{
  font-family:mygoticbold;
  font-size:18px;
  color:#236cb1;
  text-align:center;
}

.extra_text span{
  font-family:Arial;
  font-size:18px;
  color:#236cb1;
  text-align:center;
}

.logo_area{
  background-color:#eeeeee;
  text-align:center;
  height:110px;
  margin-top:20px;
}

.ftr_copyrght{
  font-family:mygoticReg;
  font-size:12px;
  color:#e3e3e3;
  margin:0 auto;
  text-align:right;
}
@media screen and (max-width: 767px) {
  .ftr_copyrght {
    text-align: center;
  }
}

/*........blog page........*/
@media screen and (max-width: 767px) {
  .equalize > [class^="col-"] {
    height: auto !important;
  }
}
.ppp{}

.keeping{
  font-family:Century Gothic;
  font-size:42px;
  color:#707070;
  padding-top:120px;
  text-align:center;
  font-weight:bold;
}

.blog_box{
  box-shadow:0px 3px 14px #000000;
  padding:10px;
  border-radius:5px;
  margin-top:30px;
  text-align: center;
}
.blog_box img {
  display: inline-block;
}

.blog_text{
  font-family:Century Gothic;
  font-size:20px;
  color:#243d98;
  padding-top:12px;
  font-weight:normal;
  text-align: center;
}

.blog_text a{
  font-family:Century Gothic;
  font-size:20px;
  color:#243d98;
  padding-top:12px;
  text-align:left;
  font-weight:normal;
}

.blog_text a:hover{
  font-family:Century Gothic;
  font-size:20px;
  color:#000;
  text-decoration:none;
}

.blog_date{
  display: inline-block;
  background: url(../images/calender.jpg) no-repeat left;
  color:#808080;
  font-size:11px;
  font-family:Century Gothic;
  padding-left:20px;
}

.align_mid{
  text-align:center;
  padding-top:8px;
  padding-bottom:20px;
}

.pagination{
  display: inline-block;
  margin:0;
  width:auto;
  text-align:center;
  padding: 40px 30px 30px;
}

.small_button{
  background-color:#d3d3d3;
  float:left;
  width:27px;
  height:27px;
  border-radius:5px;
  text-align:center;
  color:#000;
  font-family:myfont1;
  font-size:16px;
}

.small_button1{
  background-color:#fff;
  float:left;
  width:27px;
  height:27px;
  border-radius:5px;
  text-align:center;
  color:#000;
  font-family:myfont1;
  font-size:16px;
  border:1px solid #CCCCCC;
  margin-left:10px;
}

.small_button a{
  background-color:#d3d3d3;
  text-align:center;
  color:#000;
  font-family:myfont1;
  font-size:16px;
}

.small_button1 a{
  background-color:#fff;
  text-align:center;
  color:#000;
  font-family:myfont1;
  font-size:16px;
}
/*.........blog details page..........*/

.black_bg{
  float: left;
  width: 100%;
  /*max-width:1350px;*/
  background-color:#000000;
  margin:0;
  overflow:hidden;
}

.left_banner{
  /*width:294px;*/
  float:left;
  position: relative;
  width: 22%;
  margin:0;
}

.right_banner{
  /*width:294px;*/
  float:left;
  position: relative;
  width: 22%;
  left: 56%;
  margin:0;
}
.left_banner a, .right_banner a {
  display: block;
}
.left_banner a > .img-responsive, .right_banner a .img-responsive {
    width: 100%;
}
.middle_area{
  /*width:754px;*/
  float:left;
  position: relative;
  right: 22%;
  width: 56%;
}

.bd_top{
  position: relative;
  float: left;
  width: 100%;
  background: url(../images/top_bdbg.jpg) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height:144px;
}

.black-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    background-color: #000;
}
.black-container > .row {
    margin-left: 0;
    margin-right: 0;
}
.black-container > .row > div {
    padding-right: 0;
    padding-left: 0;
}
body.black-body {
    background-color: #000;
}
@media screen and (max-width: 767px) {
  .left_banner, .right_banner {
    width: 50%;
  }
  .left_banner a img, .right_banner a img {
    width: 100%;
  }
  .right_banner {
    left: 0;
  }
  .middle_area {
    width: 100%;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
  }
  .bd_top {
    background: none;
  }
}
.after_top{
  position: relative;
  float: left;
  width: 100%;
  background-color:#262626;
  border-radius:7px;
  overflow:hidden;
  height:843px;
}

.bd_ttop{
  width: 100%;
  font-family:Century Gothic;
  font-size:47px;
  color:#d3d3d3;
  padding-top:15px;
  text-align:center;
}

.bd_ttop1{
  width: 100%;
  font-family:Century Gothic;
  font-size:47px;
  color:#2e7dcc;
  text-align:center;
  margin-top:-15px;
}
@media screen and (max-width: 1199px) {
  .bd_ttop {
    font-size: 42px;
  }
  .bd_ttop1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 991px) {
  .bd_ttop {
    font-size: 36px;
  }
  .bd_ttop1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 420px) {
  .bd_top {
    font-size: 10vw;
  }
  .bd_ttop1 {
    font-size: 6vw;
  }
}

.bd_ttop1 span{
  font-family:Century Gothic;
  font-size:47px;
  color:#db0000;
  text-align:center;
  font-weight:bold;
  padding-left:2px;
  text-transform:uppercase;
}

@media screen and (max-width: 420px) {
  .bd_topp1 span {
    font-size: 12vw !important;
  }
}

.white_portion{
  background-color:#fff;
  width:100%;
  margin: 30px 0 0;
  height:811px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.white_portion > div {
  float: left;
  width: 100%;
}
.content-wrapper {
  padding-top: 120px;
  height: 90%;
  overflow-y: auto;
}
.bd_logo{
  position: absolute;
  bottom: -140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.socials-btn {
  height: 10%;
}
.socials-btn > div {
  float: left;
  width: 50%;
  text-align: center;
}
.socials-btn > div > a {
    display: inline-block;
    max-width: 100%;
}

.fb_share{
  padding-left:15px;
  padding-right:15px;
  float:left;
  overflow:hidden;
}

.twitter_share{
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
}

@media screen and (max-width: 767px) {
  .fb_share {
    padding-left: 5px;
    padding-right: 5px;
  }
  .twitter_share {
    padding-left: 5px;
    padding-right: 5px;
  }
}