.page, .prev, .next {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background: #eee;
    font-weight: bold;
}

.page:hover, .prev:hover, .next:hover {
    background: #333;
}

.page.current {
    background: #333;
    color: white;
}

.page.disabled, .prev.disabled, .next.disabled {
    color: #ddd;
    cursor: default;
}