
@font-face {
    font-family: myfont1;
    src: url(OpenSans-Light.ttf);
}
@font-face
{
font-family: mygoticbold;
src: url(GOTHICB.TTF);
}
@font-face
{
font-family: mygoticReg;
src: url(GOTHIC.TTF);
}
@font-face
{
font-family: lobesstar;
src: url(Lobster.ttf);
}
@font-face
{
font-family: latoLight;
src: url(Lato-Light.ttf);
}
body{ padding:0; 
      margin:0;
	  /*background-image:url(../Desktop/Photo0105.jpg);*/
	}
*{ padding:0; margin:0;}
.clear{ clear:both;}

header{ background-color:#262626; width:100%; height:50px; padding-top:10px;}
.menu{ width:33%; float:right; }
.menu ul{ padding:0; margin:0;}
.menu ul li{ list-style:none; display: inline;}
.menu ul li a{ color:#fff; font-family: mygoticReg; font-size:16px; text-decoration:none;}
.menu ul li a:hover{ color:#999999; font-family: mygoticReg; font-size:16px; text-decoration:none;}
.wel_title{ font-family: mygoticbold; font-size:42px; color:#1d1d1d; text-align:center; background-image:url(/static/bg_img.png); background-position:bottom; background-repeat:no-repeat; padding-bottom:15px; margin-top:40px; margin-bottom: 20px;}
.logo{ margin:0 auto; width:115px; margin-top:-10px; z-index:999; text-align:center; position:absolute; margin-left:47%;}
.arrow{ margin:0 auto; width:108px; margin-top:-10px; z-index:1000; text-align:center; position:absolute; margin-left:47%; margin-top:414px;}

#footer{ width:100%; padding:10px; background-color:#262626;}
#footer .footer_addr{color:#FFFFFF; font-family: mygoticReg; font-size:14px; line-height:18px;}
#footer .ftr_menu{ float:right; padding-top:10px;}
#footer .ftr_menu ul{}
#footer .ftr_menu ul li{ list-style:none; display:inline; font-family: mygoticReg; font-size:14px; color:#c0c0c0; padding-left:2px; padding-right:5px;}
#footer .ftr_menu ul li a{font-family: mygoticReg; font-size:14px; color:#c0c0c0; text-decoration:none;}
#footer .ftr_menu ul li a:hover{font-family: mygoticReg; font-size:14px; color:#fff; text-decoration:none;}
.ftr_socialbox{ float:right; margin:0 auto; padding-top:20px; w}
.ftr_twitter{width:54px; float:left;}
.ftr_facebook{ width:54px; float:left;}
.ftr_mail{ width:42px; float:left;}
.extra_rcontent{ font-family: mygoticbold; font-size:24px; color:#A39E9E; text-align:center; padding-top: 170px;font-style: italic;}
.extra_text{font-family: mygoticbold; font-size:18px; color:#236cb1; text-align:center;}
.extra_text span{font-family: Arial; font-size:18px; color:#236cb1; text-align:center;}
.logo_area{ background-color:#eeeeee; text-align:center; height: 110px; margin-top: 20px;}
.ftr_copyrght{font-family: mygoticReg; font-size:12px; color:#e3e3e3; margin:0 auto; text-align:right;}

<!--......................................................................blog page........................................................-->
.ppp{}
.keeping{ font-family:Century Gothic; font-size:42px; color:#707070; padding-top:120px; text-align:center; font-weight:bold;}
.blog_box{ box-shadow:0px 3px 14px #000000; padding:10px; border-radius:5px; margin-top:30px;}
.blog_text{ font-family:Century Gothic; font-size:20px; color:#243d98; padding-top:12px; text-align:left; font-weight:normal;}
.blog_text a{ font-family:Century Gothic; font-size:20px; color:#243d98; padding-top:12px; text-align:left; font-weight:normal;}
.blog_text a:hover{ font-family:Century Gothic; font-size:20px; color:#000; text-decoration:none;}
.blog_date{ background-image:url(/static/calender.jpg); background-repeat:no-repeat; background-position:left; color:#808080; font-size:11px; font-family:Century Gothic; padding-left:20px;}
.align_mid{ text-align:center; margin-left:67px; margin-right:67px; padding-top:8px; padding-bottom:20px;}
.pagination{  padding-top:40px; margin:0px auto; width:100%; text-align:center; padding-bottom:30px; padding-left:30px; padding-right:30px;}
.small_button{ background-color:#d3d3d3;  float:left; width:27px; height:27px; border-radius:5px; text-align:center; color:#000; font-family:myfont1; font-size:16px;}
.small_button1{ background-color:#fff;  float:left; width:27px; height:27px; border-radius:5px; text-align:center; color:#000; font-family:myfont1; font-size:16px; border: 1px solid #CCCCCC; margin-left:10px;}

.small_button a{ background-color:#d3d3d3;  text-align:center; color:#000; font-family:myfont1; font-size:16px;}
.small_button1 a{ background-color:#fff;  text-align:center; color:#000; font-family:myfont1; font-size:16px;}


<!--......................................................................blog details page........................................................-->

.ppppp{}
.black_bg{ width:1350px; background-color:#000000; margin:0px auto; overflow:hidden;}
.left_banner{ width:294px; margin:0px auto; float:left;}
.right_banner{ width:294px; margin:0px auto; float:left; }
.middle_area{ width:754px; float:left;}
.bd_top{ background-image:url(/static/top_bdbg.jpg); background-repeat:no-repeat; height:144px;}
.after_top{  background-color:#262626; border-radius:7px; overflow:hidden; height:200px; height:843px;}
.bd_ttop{ font-family:Century Gothic; font-size:47px; color:#d3d3d3; padding-top:15px; text-align:center;}
.bd_ttop1{ font-family:Century Gothic; font-size:47px; color:#2e7dcc;  text-align:center; margin-top:-15px;}
.bd_ttop1 span{ font-family:Century Gothic; font-size:47px; color:#db0000; text-align:center; font-weight:bold; padding-left:2px; text-transform:uppercase;}
.white_portion{ background-color:#fff; width:752px; margin:0px auto; margin-top:30px; height:811px; border-bottom-left-radius:8px;  border-bottom-right-radius:8px;}
.bd_logo{ text-align:center; margin-top: 15px;}
.fb_share{ padding-left:17px; padding-right:20px; float:left; padding-top:700px; overflow:hidden;}
.twitter_share{ padding-left:20px; padding-right:21px; padding-top:700px; overflow:hidden;}

.page, .prev, .next {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background: #eee;
    font-weight: bold;
}

.page:hover, .prev:hover, .next:hover {
    background: #333;
}

.page.current {
    background: #333;
    color: white;
}

.page.disabled, .prev.disabled, .next.disabled {
    color: #ddd;
    cursor: default;
}
