{% extends 'general.html' %}
{% load i18n%}

{% block content %}
    {{ block.super }}
    <header id="header">
        <div class="logo"><a href="{{ url_sld }}"><img src="{{ STATIC_URL }}logo.png"/></a></div>
        <a href="#" role="menu-btn" class="menu-btn pull-right" title="">
            <span class="glyphicon glyphicon-menu-hamburger visible-xs-inline-block"></span>
        </a>

        <div class="menu">
            <ul>
                <li><a href="{{ url_sld }}">Home</a> <span class="hidden-xs hidden-sm" >|</span></li>
                <li><a href="{{ url_sld }}accounts/login/">Login</a> <span class="hidden-xs hidden-sm" >|</span></li>
                <li><a href="{{ url_sld }}">Sign Up</a><span class="hidden-xs hidden-sm">|</span></li>
                <li><a href="{{ url_sld }}about_us/">About Us</a><span class="hidden-xs hidden-sm">|</span></li>
                <li><a href="{{ url_sld }}contact_us/">Contact Us</a><span class="hidden-xs hidden-sm">|</span></li>
                <li><a href="/uk_blog/">Blog</a></li>
            </ul>
        </div>
    </header>

    <div class="clear"></div>
    <div class="container" style="min-height: 500px;">
        <div class=" keeping">keeping You Informed...</div>
        <div class="row equalize">
        {% for post in posts.object_list %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blog_box">
                    <a href="{{ url_root }}post_details/{{ post.id }}" target="_blank">
                        <img src="{{ url_root }}media_blog{{ post.post_image_public_path }}" class="img-responsive"/>
                    </a>
                    <div class="blog_text"><a href="{{ url_root }}post_details/{{ post.id }}" target="_blank">{{ post.post_title }}</a></div>
                    <div class="align_mid">
                        <div class="blog_date"><span style="font-weight:bold">Posted on:</span> {{ post.created_date }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="clearfix"></div>
        <div class="row" style="margin-top: 200px;">
            <div class="col-lg-4 col-md-4 col-sm-3 hidden-xs"></div>
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                {{ posts.render }}
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper">
                            <a href="https://smokingliquiddirect.co.uk/">
                                <img src="{{ STATIC_URL }}footer-logo.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="footer_addr">LSL<br>
                                Armstrong House<br>
                                First Avenue<br>
                                Robin Hood Airport<br>
                                Doncaster<br>
                                South Yorkshire<br>
                                DN9 3GA
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/SmokingLiquid"><img src="{{ STATIC_URL }}twitter-foo.jpg"/></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157"><img src="{{ STATIC_URL }}facebook-foo.jpg"/></a></div>
                        <div class="ftr_mail"><a href="{{ url_sld }}contact_us/"><img src="{{ STATIC_URL }}mail-foo.jpg"/></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="{{ url_sld }}">Home</a></li>
                            <li><a class="hidden-xs" href="{{ url_sld }}about_us/">About Us</a></li>
                            <li><a class="hidden-xs" href="{{ url_sld }}accounts/login/">Login</a></li>
                            <li><a class="hidden-xs" href="{{ url_sld }}">Signup</a></li>
                            <li><a class="hidden-xs" href="{{ url_sld }}contact_us/">Contact Us</a></li>
                            <li><a id="terms" href="" data-toggle="modal" data-target="#terms_dialog_for_link">T&C </a></li>
                            <li><a id="privacy" href="" data-toggle="modal" data-target="#privacy_dialog">Privacy </a></li>
                            <li><a id="disclaimer" href="" data-toggle="modal" data-target="#disclaimer_dialog">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 lambertsmokingliquid.co.uk. All Rights Reserved</div>
                </div>
            </div>


            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
