{% extends 'general2.html' %}
{% load i18n %}

{%block title%}
    {{ post.twitter_title }}
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ post.og_title }}" />
    <meta property="og:site_name" content="{{ post.og_site_name }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:description" content="{{ post.og_description }}"/>
    <meta property="og:type" content="{{ post.og_type }}"/>
    <meta property="fb:app_id" content="{{ config.facebook_app_id }}"/>
    <meta property="og:image" content="http://{{ request.get_host }}{{ url_root }}media_blog{{ post.og_image_public_path }}"/>

    <meta name="twitter:card" content="{{ post.twitter_card }}">
    <meta name="twitter:site" content="{{ config.twitter_site }}">
    <meta name="twitter:title" content="{{ post.twitter_title }}">
    <meta name="twitter:description" content="{{ post.twitter_description }}">
    <meta name="twitter:image:src" content="http://{{ request.get_host }}{{ url_root }}media_blog{{ post.twitter_image_public_path }}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid black-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="black_bg">
                    <div class="left_banner"><a href="{{ url_sld }}"><img src="{{ STATIC_URL }}left-banner.jpg" class="img-responsive"></a></div>
                    <div class="right_banner"><a href="{{ url_sld }}"><img src="{{ STATIC_URL }}right-banner.jpg" class="img-responsive"></a></div>

                    <div class="middle_area">
                        <div class="bd_top">
                            <div class="bd_ttop">Smoking Liquids</div>
                            <div class="bd_ttop1">Get your first order <span>FREE</span></div>
                            <div class="bd_logo">
                                <a href="{{ url_sld }}">
                                    <img src="{{ STATIC_URL }}blog_deatlogo.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="after_top">
                            <div class="white_portion">
                                <div class="content-wrapper">
                                    <div style="overflow-y: hidden;height: auto;padding: 10px 10px 10px 10px;overflow-x: hidden">
                                        {% autoescape off %}
                                            {{ post.description }}
                                        {% endautoescape %}
                                    </div>

                                </div>
                                <div class="socials-btn">
                                    <div class="fb_share"><a  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><img src="{{ STATIC_URL }}facebook_share.jpg" class="img-responsive"></a></div>
                                    <div class="twitter_share"><a href="https://twitter.com/share?text={{ post.twitter_title }}&url={{ request.build_absolute_uri }}" target="_blank"><img src="{{ STATIC_URL }}twitter_share.jpg" class="img-responsive"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper">
                            <img src="{{ STATIC_URL }}footer-logo.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="footer_addr">LSL<br>
                                Armstrong House<br>
                                First Avenue<br>
                                Robin Hood Airport<br>
                                Doncaster<br>
                                South Yorkshire<br>
                                DN9 3GA
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="#"><img src="{{ STATIC_URL }}twitter-foo.jpg"/></a></div>
                        <div class="ftr_facebook"><a href="#"><img src="{{ STATIC_URL }}facebook-foo.jpg"/></a></div>
                        <div class="ftr_mail"><a href="#"><img src="{{ STATIC_URL }}mail-foo.jpg"/></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="{{ url_sld }}">Home</a></li>
                            <li><a href="{{ url_sld }}about_us/">About Us</a></li>
                            <li><a href="{{ url_sld }}accounts/login/">Login</a></li>
                            <li><a href="{{ url_sld }}">Signup</a></li>
                            <li><a href="{{ url_sld }}contact_us/">Contact Us</a></li>
                            <li><a href="" href="" data-toggle="modal" data-target="#terms_dialog_for_link">T&C </a></li>
                            <li><a href="" href="" data-toggle="modal" data-target="#privacy_dialog">Privacy </a></li>
                            <li><a href="" href="" data-toggle="modal" data-target="#disclaimer_dialog">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 lambertsmokingliquid.co.uk. All Rights Reserved</div>
                </div>


                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
