{% load i18n%}
<!DOCTYPE HTML>
<html>
    <head>

        <title>{%block title%}{% trans 'lambert'%}{%endblock%}</title>

        <link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% block meta %}
        {% endblock %}

        {%block css%}
        {%endblock%}

        {%block js%}
        {%endblock%}

    </head>
    <body class="black-body">
        {%block content%}
            {% block popup %}
            {% endblock %}
        {%endblock%}
    </body>
</html>