{% extends "base2.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_paginator.css">
{#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css">#}
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 8]>
        {#<link rel="stylesheet" href="css/ie/v8.css" />#}
    <![endif]-->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}custom_rename.js"></script>#}
{% endblock %}

{% block popup %}
<div id="terms_dialog_for_link" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Terms and conditions
                    </h4>
                </div>
                <div class="modal-body">
                    <dl style="font-size: 12px;height: 300px; overflow-y: auto; border: 1px solid #808184; padding-left: 10px;">
                     <dt><b> 1. &nbsp;The contract between us</b></dt>
                     <dd><p>Our acceptance of your subscription creates a legally binding contract between us<br> and yourself.  Your specific attention is drawn to clause 9 of these terms and <br>conditions which sets out the circumstances for when your subscription can be <br>cancelled.  </p></dd>
                     <dt><b> 2. &nbsp;Ownership of rights</b></dt>
                     <dd><p>All rights, including copyright, in our website are owned by or licensed to Lambert SL<br> Ltd.  Any use of our website or its contents is prohibited without our written<br> permission. You may not modify, distribute or repost anything on our website for any<br> purpose.</p></dd>
                     <dt><b> 3. &nbsp;Accuracy of content</b></dt>
                     <dd><p>We have taken care to ensure that prices quoted are correct at the time of publishing<br>and that all goods have been fairly described.  Any weights, dimensions and<br> capacities given about the goods are approximate only.   Images shown on our<br> website are examples only and may have slight colour differences to the goods<br> delivered.</p></dd>
                     <dt><b> 4. &nbsp;Price</b></dt>
                     <dd><p>Prices payable for goods that you order are set out on our website.   Prices are<br> quoted in sterling and are inclusive of VAT.</p></dd>
                     <dt><b> 5. &nbsp;Price</b></dt>
                     <dd><p>5.1 &nbsp;Payments are taken once a month on the anniversary of the start of the<br> subscription.</p></dd>
                     <dd><p>5.2 &nbsp;You may pay using Paypal or Visa, MasterCard, debit/credit cards linked to a<br> paypal account. No other forms of payment are accepted.  We will charge your<br> account for payment upon receipt of your order unless delivery cannot be fulfilled<br> within 30 days.  We accept no liability for delay because you did not give us the<br> correct payment details.  If it is not possible to obtain full payment for the goods from<br> your account we can cancel the subscription and/or suspend any further deliveries to<br> you.  This does not affect any other rights we may have.</p></dd>
                     <dt><b> 6. &nbsp;Delivery and Availability</b></dt>
                     <dd><p>6.1 &nbsp;Unless otherwise stated items for sale on this site are stock items.  Stock items<br> should, in normal circumstances, always be in stock and available for despatch as<br> soon as payment is received in full.  Subject to availability, it is our aim to despatch<br> all orders so that they are received by you no later than two working days from<br> acceptance of your order.   </p></dd>
                     <dd><p>6.2 &nbsp;We always do our best to maintain high stock levels by receiving regular<br> deliveries from our suppliers.  Whilst it is our policy to avoid shortages in stock, on<br> occasions this cannot be avoided.  Should an item not be available for delivery within<br> the time you specify, we will contact you to advise you of the delay and to rearrange<br>  delivery at the earliest opportunity. </p></dd>
                     <dd><p>6.3 &nbsp;The cut-off time for which orders will be processed is 7am.  If you place an<br> order before this time it will be processed and despatched the same day (subject to<br> stock availability).  Orders received after 7am will be processed the following working<br> day.  Unfortunately, we are unable to process orders at weekends or on Bank<br> Holidays.  Orders placed during these times will be processed on the first working<br> day thereafter.</p></dd>
                     <dd><p>6.4 &nbsp;We are able to deliver to any UK address with a Royal Mail postcode. We<br> cannot deliver to PO Boxes. </p></dd>
                     <dd><p>6.5 &nbsp;The goods will be despatched to the address you specify in your order.  We<br> shall not be liable for any delay in delivering the goods however caused.</p></dd>
                     <dt><b> 7. &nbsp;Delivery and Availability</b></dt>
                     <dd><p>Risk of damage to, or loss of the goods, passes to you at the time of delivery to you,<br> or if you fail to take delivery, at the time when we tried to deliver.  You will only own<br> the goods once they have been delivered and when we have received cleared<br> payment in full. </p></dd>
                      <dt><b> 8. &nbsp;Returns Policy </b></dt>
                     <dd><p>8.1 &nbsp;If, for any reason, there is any defect in the quality, quantity or condition of the<br> goods we will give you an exchange or refund.  Please notify us by email via your<br> user administration area quoting our order reference within 7 days of delivery if you<br> wish to return your purchase.  The goods should then be returned within 21 days of<br> delivery to you in their original condition.  The postage and packaging charge is not<br> refundable and amounts to £3 per delivery.  The returns parcel is your responsibility<br> until it reaches us.  We are not responsible for any consequential loss or expense,<br> however caused. </p></dd>
                     <dd><p>8.2 &nbsp;Once we have received the returned goods we will refund your payment within<br> 30 days provided that the goods in question are received by us in the condition they<br> were in when delivered to you.  If you do not return the goods or do not pay the costs<br> of delivery, we may deduct the direct costs of recovery from the amount to be<br> credited to you.  </p></dd>
                     <dd><p>8.3 &nbsp;You will be credited for the costs of returning defective or unsatisfactory goods.</p></dd>
                     <dt><b> 9. &nbsp;Cancellation</b></dt>
                     <dd><p>9.1 &nbsp;We reserve the right to cancel/delay your subscription if:</p></dd>
                     <dd><p>&nbsp;&nbsp; 9.1.1 &nbsp;we have insufficient stock to deliver the goods you have ordered.</p></dd>
                     <dd><p>&nbsp;&nbsp; 9.1.2 &nbsp; we do not deliver to your area.</p></dd>
                     <dd><p>9.2 &nbsp; If we cancel your subscription we will notify you by e-mail and will credit to your<br> account and refund within 30 days of cancellation </p></dd>
                     <dd><p>9.3 &nbsp;The Distance Selling Regulations form part of these terms and conditions. Under<br> these regulations, you have the right to cancel your subscription within 7 days of receipt of<br> your first delivery.  No reason for cancellation need be given nor will any<br> penalty be payable.  You must notify us via your  administration area of the cancellation and return the<br> goods in the condition they were delivered to you at your<br> cost and at your risk.  Any refund will be made within 30 days of return provided the<br> goods are in the condition they were in when delivered to you.  Deductions may be<br> made against any refund for unpaid return charges made against us.</p></dd>
                     <dd><p>9.4 &nbsp;The goods will be despatched to the address you specify in your order.  We<br> shall not be liable for any delay in delivering the goods however caused.</p></dd>
                     <dd><p>9.5 &nbsp;Should you wish to cancel your order any liquids supplied for an un-billed period must be returned un-used.</p></dd>
                     <dd><p>9.6 &nbsp;Only one order/subscription per person/IP Address is permitted. Where multiple people living at the same address or using the same IP address place an order, refunds will be delayed for 120 days. If during that time unauthorized activity is suspected/detected the 100% refund on the first order will not be given.</p></dd>
                     <dd><p>9.7 &nbsp;The payment for your first order will be refunded thirty three days into your subscription, subscriptions cancelled before then cannot be refunded.</p></dd>
                     <dt><b> 10. &nbsp;Liability</b></dt>
                     <dd><p>10.1 &nbsp;If you do not receive goods ordered by you within 30 days of the order date, we<br> will have no liability to you unless you notify us via your administration area within 60<br> days of the order date. If you notify a problem to us under this condition, our only<br> obligation will be, at your option:</p></dd>
                     <dd><p>&nbsp;&nbsp; 10.1.1 &nbsp;to make good any shortage or non-delivery; </p></dd>
                     <dd><p>&nbsp;&nbsp; 10.1.2 &nbsp; to replace or repair any goods that are damaged or defective; or.</p></dd>
                     <dd><p>&nbsp;&nbsp; 10.1.3 &nbsp; to refund the amount paid by you for the goods in question in whatever way we choose.</p></dd>
                     <dd><p>10.2 &nbsp; Under no circumstances will we be liable to you for any loss,, additional costs<br> indirect or consequential loss or damage arising out of any defect in goods supplied.<br>  Our liability will be restricted to the value of the goods returned that have been found<br> to be defective. </p></dd>
                     <dd><p>10.3 &nbsp;We shall have no liability to you for any failure or delay in supply or<br> delivery or for any damage or defect to the goods supplied or delivered caused by any event or<br> circumstance beyond our reasonable control.</p></dd>
                     <dd><p>10.4 &nbsp;Despite the above, nothing in these terms and conditions is intended to limit<br> any other statutory rights you might have as a consumer nor to exclude or limit our<br> liability to you resulting from our negligence.</p></dd>
                     <dt> <b>11. &nbsp;Notices</b></dt>
                     <dd><p>All notices from you to us must be in writing and sent via your administration area.</p></dd>
                     <dt><b>12. &nbsp; Changes to legal notices</b></dt>
                     <dd><p>We reserve the right to change these terms and conditions from time to time.</p></dd>
                     <dt><b>13. &nbsp; Law, jurisdiction and language</b></dt>
                     <dd><p>These terms shall be governed by and construed in accordance with English Law.</p></dd>
                     <dt><b>14. &nbsp;Invalidity</b></dt>
                     <dd><p>If any part of these terms and conditions is unenforceable, the enforceability of any<br> other part of these conditions will not be affected.</p></dd>
                     <dt><b>15. &nbsp;Third party rights</b></dt>
                     <dd><p>Nothing in this Agreement is intended to, nor shall it confer any rights on a third party.</p></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
<div id="disclaimer_dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Disclaimer...
                    </h4>
                </div>
                <div class="modal-body">
                    <dl style="font-size: 12px;height: 300px; overflow-y: auto; border: 1px solid #808184; padding-left: 10px;">
                         <dt style="font-weight: normal !important;"> <p>1. &nbsp;The automatic shipment of your liquids will take place periodically without further action from yourself.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>2. &nbsp;The order will contain a minimum of one months supply of smoking liquid (10 bottles).</p></dt>

                         <dt style="font-weight: normal !important;"> <p>3. &nbsp;Shipments will occur either once a month or once every two months.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>4. &nbsp;Billing will occur monthly and will be processed by paypal to the amount of 29.99.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>5. &nbsp;The amount shown is including VAT and delivery.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>6. &nbsp;Upon cancellation liquids supplied for an unbilled period must be returned un-used.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>7. &nbsp;Products are for personal use only and not to be resold or passed on.</p></dt>

                         <dt style="font-weight: normal !important;"> <p>8. &nbsp;Only one cash back offer per person/IP Address.</p></dt>
                         <!--<dt style="font-weight: normal !important;"> <p>10. &nbsp;If a cancellation is requested within the first month, both the Free Smoking Pipe, and the Free vaporizer need to be returned unused along with any liquids sent in advance. Upon receipt of the returned items the refund will be made in full.</p></dt>-->
                     </dl>
                </div>
            </div>
        </div>
</div>
<div id="privacy_dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                        PRIVACY POLICY:
                    </h4>
            </div>
            <div class="modal-body">
                <dl style="font-size: 12px;height: 300px; overflow-y: auto; border: 1px solid #808184; padding-left: 10px;">

                     Your privacy is important to us, and to enable you to understand how we collect your data and our online information practices we’ve prepared this Privacy section.<br/>

                    <br/>We will not disclose your personal details to any third parties for marketing purposes

                    <br/><br/>We are providing you with this information to make sure we are honest and open about your privacy when you are using our website
                    <br/><br/><b>WHAT WE COLLECT:</b>
                     <br/><br/>When you set up an account, and also whilst on our Logged In Pages you can enter personal information for the
                     purposes of setting up an account with us and placing orders,
                     making requests and registering to receive Communications from us including:
                        <dd style="margin-left: 30px;">Name
                            <br/>Billing and Delivery Address
                            <br/>Delivery leave safe information
                            <br/>Email Address
                        </dd>
                     <dl><br/><b>COOKIES:</b></dl>
                     We use “cookies” on our website, placed into your browser file, for administration purposes.
                    <dd>
                        <br/>Cookies are small text files downloaded onto your computer. They cannot harm your computer. We do not store personally identifiable information such as credit card details in cookies, but we do use encrypted information gathered from them
                    </dd>
                     <dd>
                    <br/>To use our website, create an account and access the Logged In pages and make and edit orders you need to have cookies enabled
                    </dd>
                     <dd>
                    <br/>Cookies assign your computer an ID which automatically identifies your computer. Cookies cannot, by themselves, be used to identify the user. If you have an ID your computer will be automatically detected by our servers when you log onto the website, this does not identify you
                    </dd>
                     <dd>
                    <br/>We use cookies for cataloguing traffic patterns through the site enabling us to monitor and improve our website’s functionality
                    </dd>
                     <dd>

                    <br/>We also use cookies to link your internet session on our website to your user account. This enables you to create an account and access the Logged In pages and make and edit orders
                    </dd>
                     <dd>
                    <br/>You can find out more about cookies on the ICO website, www.ico.gov.uk
                     </dd>
                     <dl>
                        <br/><b> OUR COMMITMENT TO DATA SECURITY:</b>
                    </dl>
                     <dd>
                        To prevent unauthorised access, maintain data accuracy, and ensure the correct use of information we have put in place appropriate physical, electronic and managerial procedures to safeguard the information we collect online
                    </dd>
                     <dd>
                       <br/> To ensure secure collection of data from you, including personal details as described above, we use SSL technology which encrypts the data you send to us from the website which ensures that your data is kept private whilst being transmitted
                    </dd>
                     <dd>
                       <br/> We do not store your payment details on our servers, they are stored securely on a secure, encrypted server used by our payment provider
                     </dd>

                 </dl>
            </div>
        </div>
     </div>
</div>
{% endblock %}