<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>

<body>
<div style="width: 820px;">
<p>Hi</p>
<p>Just a quick email regarding our' First order 100% free' offer!</p>
<p>Most people who try Lambert Smoking Liquid love it, that's why we want to send you your first order
for FREE.</p>
<p>Pretty straight forward stuff... and there's more!</p>
<p>Order today and we will also send you:</p>
<p>&nbsp;&nbsp;1) A free smoking pipe (worth £14.99).</p>
<p>&nbsp;&nbsp;2) A free vaporizer for your smoking pipe (worth £4.99).</p>
<p>To order please visit http://smokingliquiddirect.co.uk/</p>
<p>Remember, switching from cigarettes to Lambert Smoking Liquid will save you a huge amount of
money so don't delay, try us today!</p>
<p>many thanks</p><br>
<p>Amy</p>
<p>Customer Support<br>
lambertsmokingliquid.co.uk</p>
</div>
</body>
</html>